<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    模板引擎
    <p><%= a%></p>
    <p><%= b%></p>
    <ol>
      <%for(let i of l) {%>
      <li><%= i%></li>
      <%}%>
    </ol>
    <p>csrf:<%= csrf%></p>
  </body>
</html>
